
header

  nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: $white
    @include box-shadow( $black 0 0 3px )

    h2
      font-size: 18px
      line-height: 25px
      font-weight: bold
      color: $black

    table
      margin-top: 10px
      font-size: 12px
      line-height: 16px
      color: $grey
      border-left: 1px solid $light
      width: 100%
      
      thead
        display: none
      
      td
        padding: 6px
      
      tr:hover
        color: darken( $grey, 10% )
        background: $light
      
      a
        font-weight: bold
        @include unstyled-link

    table
      display: none
    
    &:hover
      table
        display: table
        width: 100%

// end