
body, html
  background: $red

article[role='post']
  
  font-size: 14px
  
  h1, h2, h3, h4, h5, h6
    font-weight: bold
  
  h1
    font-size: 144px
    margin-left: -10px
  
  h2, h3, h4, h5, h6
    margin-top: 25px
    margin-bottom: 10px
    
  h2
    font-size: 25px
    line-height: 30px
  
  h3
    font-size: 21px
    line-height: 27px
    
  h4, h5, h6
    font-size: 18px
    line-height: 25px
  
  padding-top: 40px
  padding-bottom: 100px
  background: $red
  color: $white
  
  @include text-shadow( $dark 0 1px 3px )
  
  ul li, p
    line-height: 25px
    
  ul
    list-style: disc
  
  a
    @include link-colors( $yellow, $aqua )

// end