// colors

$white: #FEFFFE
$black: #343434
$grey: #B6B6B6
$red: #556270
$dark: #262B32
$light: #F9F9F9
$yellow: #C7F464
$aqua: #4ECDC4

// need more colors?
// http://www.colourlovers.com/palette/1930/cheer_up_emo_kid

// dimensions

$width: 960px

// fonts

body
  font-family: 'Helvetica Neue', Arial, sans-serif

strong
  font-weight: bold
  
em
  font-style: italic

a
  @include unstyled-link
  border-bottom: 1px dotted
  &:hover
    border-bottom: 1px solid

// shared
.wrapper
  padding: 14px 30px
  width: $width
  margin: auto
  
// end
