<nav>
	<div class="wrapper">
		
		<ul>
			<li>
				<h2>
					Menu
				</h2>
			</li>
			<li>
				<h2>
					<a href="/">Home</a>
				</h2>
			</li>
			<li>
				<h2>
					<a href="https://github.com/SFCRD/sfcrd.github.com">GitHub</a>
				</h2>
			</li>
		</ul>
		
		<table cellspacing="0">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for post in site.posts %}
				<tr>
					<td>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</td>
					<td>
						{{ post.date | date: '%A, %B %d, %Y' }}
					</td>
					<!--
					<td>
						{{ post.authors | array_to_sentence_string }}
					</td>
					-->
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</div>
</nav>
