/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../_sass/styles/_pygments.sass */
.hll {
  background-color: #ffffcc;
}

/* line 4, ../_sass/styles/_pygments.sass */
.c {
  color: #8f5902;
  font-style: italic;
}

/* Comment */
/* line 10, ../_sass/styles/_pygments.sass */
.err {
  color: #a40000;
  border: 1px solid #ef2929;
}

/* Error */
/* line 16, ../_sass/styles/_pygments.sass */
.g {
  color: black;
}

/* Generic */
/* line 21, ../_sass/styles/_pygments.sass */
.k {
  color: #204a87;
  font-weight: bold;
}

/* Keyword */
/* line 27, ../_sass/styles/_pygments.sass */
.l, .n {
  color: black;
}

/* Literal */
/* Name */
/* line 33, ../_sass/styles/_pygments.sass */
.o {
  color: #ce5c00;
  font-weight: bold;
}

/* Operator */
/* line 39, ../_sass/styles/_pygments.sass */
.x {
  color: black;
}

/* Other */
/* line 44, ../_sass/styles/_pygments.sass */
.p {
  color: black;
  font-weight: bold;
}

/* Punctuation */
/* line 50, ../_sass/styles/_pygments.sass */
.cm, .cp, .c1, .cs {
  color: #8f5902;
  font-style: italic;
}

/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* line 59, ../_sass/styles/_pygments.sass */
.gd {
  color: #a40000;
}

/* Generic.Deleted */
/* line 64, ../_sass/styles/_pygments.sass */
.ge {
  color: black;
  font-style: italic;
}

/* Generic.Emph */
/* line 70, ../_sass/styles/_pygments.sass */
.gr {
  color: #ef2929;
}

/* Generic.Error */
/* line 75, ../_sass/styles/_pygments.sass */
.gh {
  color: navy;
  font-weight: bold;
}

/* Generic.Heading */
/* line 81, ../_sass/styles/_pygments.sass */
.gi {
  color: #00a000;
}

/* Generic.Inserted */
/* line 86, ../_sass/styles/_pygments.sass */
.go {
  color: black;
  font-style: italic;
}

/* Generic.Output */
/* line 92, ../_sass/styles/_pygments.sass */
.gp {
  color: #8f5902;
}

/* Generic.Prompt */
/* line 97, ../_sass/styles/_pygments.sass */
.gs {
  color: black;
  font-weight: bold;
}

/* Generic.Strong */
/* line 103, ../_sass/styles/_pygments.sass */
.gu {
  color: purple;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 109, ../_sass/styles/_pygments.sass */
.gt {
  color: #a40000;
  font-weight: bold;
}

/* Generic.Traceback */
/* line 115, ../_sass/styles/_pygments.sass */
.kc, .kd, .kn, .kp, .kr, .kt {
  color: #204a87;
  font-weight: bold;
}

/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* line 126, ../_sass/styles/_pygments.sass */
.ld {
  color: black;
}

/* Literal.Date */
/* line 131, ../_sass/styles/_pygments.sass */
.m {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number */
/* line 137, ../_sass/styles/_pygments.sass */
.s {
  color: #4e9a06;
}

/* Literal.String */
/* line 142, ../_sass/styles/_pygments.sass */
.na {
  color: #c4a000;
}

/* Name.Attribute */
/* line 147, ../_sass/styles/_pygments.sass */
.nb {
  color: #204a87;
}

/* Name.Builtin */
/* line 152, ../_sass/styles/_pygments.sass */
.nc, .no {
  color: black;
}

/* Name.Class */
/* Name.Constant */
/* line 158, ../_sass/styles/_pygments.sass */
.nd {
  color: #5c35cc;
  font-weight: bold;
}

/* Name.Decorator */
/* line 164, ../_sass/styles/_pygments.sass */
.ni {
  color: #ce5c00;
}

/* Name.Entity */
/* line 169, ../_sass/styles/_pygments.sass */
.ne {
  color: #cc0000;
  font-weight: bold;
}

/* Name.Exception */
/* line 175, ../_sass/styles/_pygments.sass */
.nf {
  color: black;
}

/* Name.Function */
/* line 180, ../_sass/styles/_pygments.sass */
.nl {
  color: #f57900;
}

/* Name.Label */
/* line 185, ../_sass/styles/_pygments.sass */
.nn, .nx, .py {
  color: black;
}

/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* line 192, ../_sass/styles/_pygments.sass */
.nt {
  color: #204a87;
  font-weight: bold;
}

/* Name.Tag */
/* line 198, ../_sass/styles/_pygments.sass */
.nv {
  color: black;
}

/* Name.Variable */
/* line 203, ../_sass/styles/_pygments.sass */
.ow {
  color: #204a87;
  font-weight: bold;
}

/* Operator.Word */
/* line 209, ../_sass/styles/_pygments.sass */
.w {
  color: #f8f8f8;
  text-decoration: underline;
}

/* Text.Whitespace */
/* line 215, ../_sass/styles/_pygments.sass */
.mf, .mh, .mi, .mo {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* line 224, ../_sass/styles/_pygments.sass */
.sb, .sc {
  color: #4e9a06;
}

/* Literal.String.Backtick */
/* Literal.String.Char */
/* line 230, ../_sass/styles/_pygments.sass */
.sd {
  color: #8f5902;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 236, ../_sass/styles/_pygments.sass */
.s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
  color: #4e9a06;
}

/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* line 248, ../_sass/styles/_pygments.sass */
.bp {
  color: #3465a4;
}

/* Name.Builtin.Pseudo */
/* line 253, ../_sass/styles/_pygments.sass */
.vc, .vg, .vi {
  color: black;
}

/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* line 260, ../_sass/styles/_pygments.sass */
.il {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
/* line 12, ../_sass/styles/_shared.sass */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 15, ../_sass/styles/_shared.sass */
strong {
  font-weight: bold;
}

/* line 18, ../_sass/styles/_shared.sass */
em {
  font-style: italic;
}

/* line 21, ../_sass/styles/_shared.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 23, ../_sass/styles/_shared.sass */
a:hover {
  text-decoration: underline;
}

/* line 27, ../_sass/styles/_shared.sass */
.wrapper {
  padding: 14px 30px;
  width: 960px;
  margin: auto;
}

/* line 4, ../_sass/styles/_header.sass */
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fefffe;
  -moz-box-shadow: #343434 0 0 3px;
  -webkit-box-shadow: #343434 0 0 3px;
  -o-box-shadow: #343434 0 0 3px;
  box-shadow: #343434 0 0 3px;
}
/* line 12, ../_sass/styles/_header.sass */
header nav ul {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
/* line 17, ../_sass/styles/_header.sass */
header nav ul li a {
  font-weight: bold;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #b6b6b6;
}
/* line 6, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
header nav ul li a:active, header nav ul li a:focus {
  outline: none;
}
/* line 22, ../_sass/styles/_header.sass */
header nav ul {
  display: none;
}
/* line 26, ../_sass/styles/_header.sass */
header nav:hover ul {
  display: block;
}

/* line 2, ../_sass/styles/_post.sass */
article[role='post'] {
  font-size: 14px;
  margin-top: 40px;
  background: #bd1e09;
  color: #fefffe;
  text-shadow: #971807 0 1px 3px;
}
/* line 6, ../_sass/styles/_post.sass */
article[role='post'] h1 {
  font-size: 144px;
  font-weight: bold;
}
/* line 10, ../_sass/styles/_post.sass */
article[role='post'] h2, article[role='post'] h3, article[role='post'] h4, article[role='post'] h5, article[role='post'] h6 {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}
/* line 23, ../_sass/styles/_post.sass */
article[role='post'] ul li {
  line-height: 25px;
}
/* line 26, ../_sass/styles/_post.sass */
article[role='post'] a {
  color: #ffcc00;
}

/* line 1, ../_sass/styles/_highlight.sass */
pre, code {
  text-shadow: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #701205 0 0 3px 0 inset;
  -webkit-box-shadow: #701205 0 0 3px 0 inset;
  -o-box-shadow: #701205 0 0 3px 0 inset;
  box-shadow: #701205 0 0 3px 0 inset;
  font-family: courier;
  background: #971807;
  margin: 10px 0;
}

/* line 9, ../_sass/styles/_highlight.sass */
pre {
  padding: 5px 10px;
}

/* line 12, ../_sass/styles/_highlight.sass */
code {
  padding: 2px 5px;
}

/* line 15, ../_sass/styles/_highlight.sass */
pre > code {
  background: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
