/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 21, ../_sass/styles/_shared.sass */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 24, ../_sass/styles/_shared.sass */
strong {
  font-weight: bold;
}

/* line 27, ../_sass/styles/_shared.sass */
em {
  font-style: italic;
}

/* line 30, ../_sass/styles/_shared.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 32, ../_sass/styles/_shared.sass */
a:hover {
  text-decoration: underline;
}

/* line 36, ../_sass/styles/_shared.sass */
.wrapper {
  padding: 14px 30px;
  width: 960px;
  margin: auto;
}

/* line 4, ../_sass/styles/_header.sass */
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fefffe;
  -moz-box-shadow: #343434 0 0 3px;
  -webkit-box-shadow: #343434 0 0 3px;
  -o-box-shadow: #343434 0 0 3px;
  box-shadow: #343434 0 0 3px;
}
/* line 12, ../_sass/styles/_header.sass */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 48, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:first-child, header nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li.last {
  padding-right: 0;
}
/* line 15, ../_sass/styles/_header.sass */
header nav h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #343434;
}
/* line 21, ../_sass/styles/_header.sass */
header nav h2 a {
  color: #b6b6b6;
}
/* line 24, ../_sass/styles/_header.sass */
header nav table {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #b6b6b6;
  border-left: 1px solid #f9f9f9;
  width: 100%;
}
/* line 32, ../_sass/styles/_header.sass */
header nav table thead {
  display: none;
}
/* line 35, ../_sass/styles/_header.sass */
header nav table td {
  padding: 6px;
}
/* line 38, ../_sass/styles/_header.sass */
header nav table tr:hover {
  color: #9d9d9d;
  background: #f9f9f9;
}
/* line 42, ../_sass/styles/_header.sass */
header nav table a {
  font-weight: bold;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
header nav table a:active, header nav table a:focus {
  outline: none;
}
/* line 46, ../_sass/styles/_header.sass */
header nav table, header nav h2 a {
  display: none;
}
/* line 50, ../_sass/styles/_header.sass */
header nav:hover h2 a {
  display: inline;
}
/* line 53, ../_sass/styles/_header.sass */
header nav:hover table {
  display: table;
  width: 100%;
}

/* line 2, ../_sass/styles/_index.sass */
ul#posts {
  list-style: none;
}
/* line 11, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul#posts li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 6, ../_sass/styles/_index.sass */
ul#posts li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #c7f464;
}
/* line 6, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
ul#posts li a:active, ul#posts li a:focus {
  outline: none;
}
/* line 24, ../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#posts li a:hover {
  color: #4ecdc4;
}
/* line 9, ../_sass/styles/_index.sass */
ul#posts li h2 {
  font-size: 55px;
  line-height: 60px;
}
/* line 12, ../_sass/styles/_index.sass */
ul#posts li p {
  font-size: 22px;
  color: #fefffe;
}

/* line 2, ../_sass/styles/_post.sass */
body, html {
  background: #556270;
}

/* line 5, ../_sass/styles/_post.sass */
article[role='post'] {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 100px;
  background: #556270;
  color: #fefffe;
  text-shadow: #262b32 0 1px 3px;
}
/* line 9, ../_sass/styles/_post.sass */
article[role='post'] h1, article[role='post'] h2, article[role='post'] h3, article[role='post'] h4, article[role='post'] h5, article[role='post'] h6 {
  font-weight: bold;
}
/* line 12, ../_sass/styles/_post.sass */
article[role='post'] h1 {
  font-size: 144px;
  margin-left: -10px;
}
/* line 16, ../_sass/styles/_post.sass */
article[role='post'] h2, article[role='post'] h3, article[role='post'] h4, article[role='post'] h5, article[role='post'] h6 {
  margin-top: 25px;
  margin-bottom: 10px;
}
/* line 20, ../_sass/styles/_post.sass */
article[role='post'] h2 {
  font-size: 25px;
  line-height: 30px;
}
/* line 24, ../_sass/styles/_post.sass */
article[role='post'] h3 {
  font-size: 21px;
  line-height: 27px;
}
/* line 28, ../_sass/styles/_post.sass */
article[role='post'] h4, article[role='post'] h5, article[role='post'] h6 {
  font-size: 18px;
  line-height: 25px;
}
/* line 39, ../_sass/styles/_post.sass */
article[role='post'] ul li, article[role='post'] p {
  line-height: 25px;
}
/* line 42, ../_sass/styles/_post.sass */
article[role='post'] ul {
  list-style: disc;
}
/* line 45, ../_sass/styles/_post.sass */
article[role='post'] a {
  color: #c7f464;
}

/* line 1, ../_sass/styles/_highlight.sass */
pre, code {
  text-shadow: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #14171b 0 0 3px 0 inset;
  -webkit-box-shadow: #14171b 0 0 3px 0 inset;
  -o-box-shadow: #14171b 0 0 3px 0 inset;
  box-shadow: #14171b 0 0 3px 0 inset;
  font-family: courier;
  background: #262b32;
  margin: 10px 0;
  white-space: pre;
}

/* line 10, ../_sass/styles/_highlight.sass */
pre {
  padding: 5px 10px;
}

/* line 13, ../_sass/styles/_highlight.sass */
code {
  padding: 2px 5px;
}

/* line 16, ../_sass/styles/_highlight.sass */
pre > code {
  background: transparent;
  border: none;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 1, ../_sass/pygments/_monokai.sass */
.hll {
  background-color: #49483e;
}

/* line 4, ../_sass/pygments/_monokai.sass */
.c {
  color: #75715e;
}

/* Comment */
/* line 9, ../_sass/pygments/_monokai.sass */
.err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
/* line 15, ../_sass/pygments/_monokai.sass */
.k {
  color: #66d9ef;
}

/* Keyword */
/* line 20, ../_sass/pygments/_monokai.sass */
.l {
  color: #ae81ff;
}

/* Literal */
/* line 25, ../_sass/pygments/_monokai.sass */
.n {
  color: #f8f8f2;
}

/* Name */
/* line 30, ../_sass/pygments/_monokai.sass */
.o {
  color: #f92672;
}

/* Operator */
/* line 35, ../_sass/pygments/_monokai.sass */
.p {
  color: #f8f8f2;
}

/* Punctuation */
/* line 40, ../_sass/pygments/_monokai.sass */
.cm, .cp, .c1, .cs {
  color: #75715e;
}

/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* line 48, ../_sass/pygments/_monokai.sass */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 53, ../_sass/pygments/_monokai.sass */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 58, ../_sass/pygments/_monokai.sass */
.kc, .kd {
  color: #66d9ef;
}

/* Keyword.Constant */
/* Keyword.Declaration */
/* line 64, ../_sass/pygments/_monokai.sass */
.kn {
  color: #f92672;
}

/* Keyword.Namespace */
/* line 69, ../_sass/pygments/_monokai.sass */
.kp, .kr, .kt {
  color: #66d9ef;
}

/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* line 76, ../_sass/pygments/_monokai.sass */
.ld {
  color: #e6db74;
}

/* Literal.Date */
/* line 81, ../_sass/pygments/_monokai.sass */
.m {
  color: #ae81ff;
}

/* Literal.Number */
/* line 86, ../_sass/pygments/_monokai.sass */
.s {
  color: #e6db74;
}

/* Literal.String */
/* line 91, ../_sass/pygments/_monokai.sass */
.na {
  color: #a6e22e;
}

/* Name.Attribute */
/* line 96, ../_sass/pygments/_monokai.sass */
.nb {
  color: #f8f8f2;
}

/* Name.Builtin */
/* line 101, ../_sass/pygments/_monokai.sass */
.nc {
  color: #a6e22e;
}

/* Name.Class */
/* line 106, ../_sass/pygments/_monokai.sass */
.no {
  color: #66d9ef;
}

/* Name.Constant */
/* line 111, ../_sass/pygments/_monokai.sass */
.nd {
  color: #a6e22e;
}

/* Name.Decorator */
/* line 116, ../_sass/pygments/_monokai.sass */
.ni {
  color: #f8f8f2;
}

/* Name.Entity */
/* line 121, ../_sass/pygments/_monokai.sass */
.ne, .nf {
  color: #a6e22e;
}

/* Name.Exception */
/* Name.Function */
/* line 127, ../_sass/pygments/_monokai.sass */
.nl, .nn {
  color: #f8f8f2;
}

/* Name.Label */
/* Name.Namespace */
/* line 133, ../_sass/pygments/_monokai.sass */
.nx {
  color: #a6e22e;
}

/* Name.Other */
/* line 138, ../_sass/pygments/_monokai.sass */
.py {
  color: #f8f8f2;
}

/* Name.Property */
/* line 143, ../_sass/pygments/_monokai.sass */
.nt {
  color: #f92672;
}

/* Name.Tag */
/* line 148, ../_sass/pygments/_monokai.sass */
.nv {
  color: #f8f8f2;
}

/* Name.Variable */
/* line 153, ../_sass/pygments/_monokai.sass */
.ow {
  color: #f92672;
}

/* Operator.Word */
/* line 158, ../_sass/pygments/_monokai.sass */
.w {
  color: #f8f8f2;
}

/* Text.Whitespace */
/* line 163, ../_sass/pygments/_monokai.sass */
.mf, .mh, .mi, .mo {
  color: #ae81ff;
}

/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* line 171, ../_sass/pygments/_monokai.sass */
.sb, .sc, .sd, .s2 {
  color: #e6db74;
}

/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* line 179, ../_sass/pygments/_monokai.sass */
.se {
  color: #ae81ff;
}

/* Literal.String.Escape */
/* line 184, ../_sass/pygments/_monokai.sass */
.sh, .si, .sx, .sr, .s1, .ss {
  color: #e6db74;
}

/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* line 194, ../_sass/pygments/_monokai.sass */
.bp, .vc, .vg, .vi {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* line 202, ../_sass/pygments/_monokai.sass */
.il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
