<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if IE]>
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body>
		
		<header>
			<nav>
				<div class="wrapper">
					<h2>
						Menu
					</h2>
					<table cellspacing="0">
						<thead>
							<th>
								<td></td>
								<td></td>
								<td></td>
							</th>
						</thead>
						<tbody>
							{% for post in site.posts %}
							<tr>
								<td>
									<a href="{{ post.url }}">{{ post.title }}</a>
								</td>
								<td>
									{{ post.date | date: '%A, %B %d, %Y' }}
								</td>
								<td>
									Authors
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</nav>
		</header>
		
		<article role="post">
			<div class="wrapper">
				{{ content }}
			</div>
		</article>
		
	</body>
</html>